*{
    color: #888;
}
QMainWindow{
    border-image: url(bg.png) center center no-repeat stretch;
}

QFrame{
    background-color: #DAE3FD;
    border-radius: 5px;
}

QLineEdit{
    border: transparent;
    border-bottom: 2px solid #333;
    background: transparent;
    line-height: 40;
    font-size: 20px;
    color: #333;
}
QLabel{
    background: none!important;
}
QLabel#temp{
    font-size: 56px;
    line-height: 56px;
}

QLabel#status{
    font-size: 20px;
    text-align: right;
}
QLabel#time{
    font-size: 14px;
    text-align: right;
}